[submodule "React"]
	path = React
	url = https://github.com/yahya94812/React.git
[submodule "APIs"]
	path = APIs
	url = https://github.com/yahya94812/APIs.git
[submodule "Nextjs"]
	path = Nextjs
	url = https://github.com/yahya94812/Nextjs.git
[submodule "Javascript"]
	path = Javascript
	url = https://github.com/yahya94812/Javascript.git
